{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "endOfLine":"auto",
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "tsxSingleQuote": false
}